Flask==3.0.0
Werkzeug==3.0.1
Jinja2==3.1.2
itsdangerous==2.1.2
click==8.1.7
python-dotenv==1.0.0
Flask-WTF==1.2.1
WTForms==3.1.1
mistralai==0.3.0
asyncio==3.4.3
redlines==0.5.2
nltk==3.9.1
bert-score==0.3.13