.redline-deleted {
  background-color: oklch(80.8% 0.114 19.571);
  border-radius: 5px;
  margin: 0 1px;
}

.redline-inserted {
  background-color: oklch(93.8% 0.127 124.321);
  border-radius: 5px;
  margin: 0 1px;
}

.step {
  transition: all 0.3s ease-in-out;
}
.step.hidden {
  display: none;
}
.animate-spin {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}