<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noisy Corrector</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='svg/frequency-white.svg') }}"
      type="image/x-icon"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  </head>
  <body class="bg-gray-100 min-h-screen">
    <header class="flex justify-between py-4 px-8 items-center">
      <div class="{{ 'invisible' if request.path == '/' or request.path == '/playground' or request.path == '/process_evaluation' else '' }}">
        <a href="{{ url_for('main.home') }}">
          <div class="flex items-center justify-center gap-1 mb-2">
            <h1 class="text-2xl font-bold text-gray-800">noisy corrector.</h1>
            <img
              src="{{ url_for('static', filename='svg/frequency-gray.svg') }}"
              alt="frequency"
              class="size-6"
            />
          </div>
        </a>
        </div>
      <div class="flex items-center gap-2">
        <a
          class="text-gray-800 hover:text-gray-600 text-lg px-2"
          href="{{ url_for('main.playground') }}"
          >Playground</a
        >
        <a
        class="text-gray-800 hover:text-gray-600 text-lg px-2"
        href="{{ url_for('main.demo') }}"
        >Evaluate</a
        >
        <a
          class="text-gray-800 hover:text-gray-600 text-lg px-2"
          href="{{ url_for('main.home') }}"
          >Home</a
        >
      </div>
    </header>
    <main>{% block main %} {% endblock %}</main>
  </body>
</html>
