<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noisy Corrector</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='svg/frequency-white.svg') }}"
      type="image/x-icon"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  </head>
  <body class="bg-gray-100 min-h-screen">
    <header class="flex justify-end py-4 px-8">
      <div class="flex items-center gap-2">
        <a
          class="text-gray-800 hover:text-gray-600 text-lg px-2"
          href="{{ url_for('main.home') }}"
          >Playground</a
        >
        <a
          class="text-gray-800 hover:text-gray-600 text-lg px-2"
          href="{{ url_for('main.home') }}"
          >Home</a
        >
      </div>
    </header>
    <main>{% block main %} {% endblock %}</main>
  </body>
</html>
